.pos .order .orderline .session_info {
	text-align: left;
	width: 100%;
	font-size: 14px;
	color:blue;
}

.pos .order-button .order-sequence{
	position:relative;
}
.pos .order-button .session_info{
	font-size: 60%;
	position:absolute;
	text-align:center;
	width:100%;
	left:0;
	line-height:0;
	bottom:-5px;
	color:blue;
}

.pos .pos_selector_info {
	color: #2A8152
}

.pos .pos-support {
	color: red
}
.pos .order .orderline .info-list {
    padding-bottom: 5px;
}
.pos .order-date {
	padding-top: 10px;
    padding-left: 15px;
    font-size: 22px;
    color: blue;
}
.pos .pos-sale-ticket {
	font-size: 16px !important;
	font-family: Tahoma, Geneva, sans-serif
}
.pos .bus-info {
    font-size: 12px;
    color: #4caf50;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
